<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/backdoor.css" />
    <link rel="stylesheet" href="./css/post.css" />
  </head>
  <body>
    <header class="header">
      <div class="header-bn">
        <img src="./assets/images/Top-banner.jpg" alt="" />
      </div>
      <div class="header-mid">
        <div class="header-logo">
          <a href="" class="custom-logo-link">
            <img src="./assets/images/logo.png" alt="" />
          </a>
        </div>
        <div class="header-srch">
          <form action="">
            <div class="header-srch-f">
              <input type="text" placeholder="Bạn cần tìm gì ?" />
              <button>
                <img src="./assets/images/ic-srch.svg" alt="" />
              </button>
            </div>
          </form>
        </div>
        <div class="header-action">
          <div class="header-action-it popup-open" data-popup="search">
            <span class="ic">
              <i class="fa-solid fa-magnifying-glass"></i>
            </span>
          </div>
          <a href="" class="header-action-it">
            <span class="ic">
              <img src="./assets/images/ic-phone.svg" alt="" />
            </span>
            <span class="txt">
              <span class="txt-name">Gọi mua hàng</span>
              <span class="txt-val">090 999 3854</span>
            </span>
          </a>
          <a href="" class="header-action-it">
            <span class="ic">
              <img src="./assets/images/ic-pin.svg" alt="" />
            </span>
            <span class="txt">
              <span class="txt-name">Hệ thống</span>
              <span class="txt-val">Cửa hàng</span>
            </span>
          </a>
          <a href="" class="header-action-it">
            <span class="ic">
              <img src="./assets/images/ic-cart.svg" alt="" />
            </span>
            <span class="txt">
              <span class="txt-name"><span class="bold">0</span> sản phẩm</span>
              <span class="txt-val">Giỏ hàng</span>
            </span>
          </a>
        </div>
      </div>
      <div class="header-bot">
        <div class="header-cate">
          <div class="header-cate-hd">
            <i class="fa-solid fa-bars icons"></i>
            <a href="" class="txt"> Danh mục sản phẩm </a>
          </div>
          <div class="header-cate-bd">
            <div class="cate-nav">
              <div class="cate-nav-wr">
                <ul class="menu-list">
                  <li class="menu-item dropdown km">
                    <a href="" class="menu-link"> Khuyến mãi đặc biệt </a>
                    <ul class="menu-list">
                      <li class="menu-item km">
                        <a href="" class="menu-link"> Khuyến mãi đặc biệt </a>
                      </li>
                      <li class="menu-item dropdown">
                        <a href="" class="menu-link"> Thiết bị Bếp Hafele </a>
                        <ul class="menu-list">
                          <li class="menu-item km">
                            <a href="" class="menu-link">
                              Khuyến mãi đặc biệt
                            </a>
                          </li>
                          <li class="menu-item">
                            <a href="" class="menu-link">
                              Thiết bị Bếp Hafele
                            </a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="menu-item">
                    <a href="" class="menu-link"> Thiết bị Bếp Hafele </a>
                  </li>
                  <li class="menu-item">
                    <a href="" class="menu-link"> Thiết bị bếp Bosh </a>
                  </li>
                  <li class="menu-item">
                    <a href="" class="menu-link"> Phụ kiện tủ bếp Hafele </a>
                  </li>
                  <li class="menu-item">
                    <a href="" class="menu-link"> Phụ kiện đồ gỗ </a>
                  </li>
                  <li class="menu-item">
                    <a href="" class="menu-link"> Phụ kiện cửa Hafele </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="header-nav">
          <div class="menu-nav">
            <ul class="menu-list">
              <li class="menu-item current_page_item">
                <a href="" class="menu-link"> Giới thiệu </a>
              </li>
              <li class="menu-item km">
                <a href="" class="menu-link"> Khuyến mãi</a>
              </li>
              <li class="menu-item">
                <a href="" class="menu-link">Catalogues</a>
              </li>
              <li class="menu-item dropdown">
                <a href="" class="menu-link"> Chứng nhận </a>
                <ul class="menu-list">
                  <li class="menu-item dropdown current_page_item">
                    <a href="" class="menu-link"> Giới thiệu </a>
                    <ul class="menu-list">
                      <li class="menu-item current_page_item">
                        <a href="" class="menu-link"> Giới thiệu </a>
                      </li>
                      <li class="menu-item km">
                        <a href="" class="menu-link"> Khuyến mãi</a>
                      </li>
                    </ul>
                  </li>
                  <li class="menu-item km">
                    <a href="" class="menu-link"> Khuyến mãi</a>
                  </li>
                </ul>
              </li>
              <li class="menu-item">
                <a href="" class="menu-link"> Tin tức </a>
              </li>
              <li class="menu-item">
                <a href="" class="menu-link"> Liên hệ </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="header-lg">
          <a href="" class="header-lg-it active"> VN </a>
          <a href="" class="header-lg-it"> EN </a>
        </div>
        <div class="burger">
          <div class="hamburger" id="hamburger">
            <svg class="ham" viewBox="0 0 100 100" width="40">
              <path
                class="line top"
                d="m 30,33 h 40 c 0,0 9.044436,-0.654587 9.044436,-8.508902 0,-7.854315 -8.024349,-11.958003 -14.89975,-10.85914 -6.875401,1.098863 -13.637059,4.171617 -13.637059,16.368042 v 40"
              ></path>
              <path class="line middle" d="m 30,50 h 40"></path>
              <path
                class="line bottom"
                d="m 30,67 h 40 c 12.796276,0 15.357889,-11.717785 15.357889,-26.851538 0,-15.133752 -4.786586,-27.274118 -16.667516,-27.274118 -11.88093,0 -18.499247,6.994427 -18.435284,17.125656 l 0.252538,40"
              ></path>
            </svg>
          </div>
        </div>
      </div>
      <div class="mobile-overlay"></div>
      <div class="mobile">
        <div class="mobile-con">
          <div class="mobile-wr">
            <div class="mobile-nav">
              <div class="menu-nav menu-have-icon">
                <ul class="menu-list">
                  <li class="menu-item">
                    <a href="" class="menu-link"> Giới thiệu</a>
                  </li>
                  <li class="menu-item dropdown current_page_item">
                    <a href="" class="menu-link"> Khuyến mãi </a>
                    <ul class="menu-list">
                      <li class="menu-item dropdown">
                        <a href="" class="menu-link"> Khuyến mãi 1 </a>
                        <ul class="menu-list">
                          <li class="menu-item">
                            <a href="" class="menu-link"> Khuyến mãi 1 1 </a>
                          </li>
                          <li class="menu-item">
                            <a href="" class="menu-link"> Khuyến mãi 1 2 </a>
                          </li>
                          <li class="menu-item">
                            <a href="" class="menu-link"> Khuyến mãi 1 3 </a>
                          </li>
                          <li class="menu-item">
                            <a href="" class="menu-link"> Khuyến mãi 1 4 </a>
                          </li>
                        </ul>
                      </li>
                      <li class="menu-item current_page_item">
                        <a href="" class="menu-link"> Khuyến mãi 2 </a>
                      </li>
                      <li class="menu-item">
                        <a href="" class="menu-link"> Khuyến mãi 3 </a>
                      </li>
                      <li class="menu-item">
                        <a href="" class="menu-link"> Khuyến mãi 4 </a>
                      </li>
                    </ul>
                  </li>
                  <li class="menu-item">
                    <a href="" class="menu-link"> Catalogues </a>
                  </li>
                  <li class="menu-item">
                    <a href="" class="menu-link"> Chứng nhận </a>
                  </li>
                  <li class="menu-item">
                    <a href="" class="menu-link"> Tin tức </a>
                  </li>
                  <li class="menu-item">
                    <a href="" class="menu-link"> Liên hệ </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="mobile-content">
              <p class="mobile-title">THÔNG TIN LIÊN HỆ</p>
              <div class="mobile-fl mb-16s">
                <span class="fw-6">Số điện thoại:</span>
                <div class="mobile-box">
                  <a href="" class="mobile-text mobile-link"> 0909 993 854 </a>
                  <span class="xe">-</span>
                  <a href="" class="mobile-text mobile-link"> 0909 973 175 </a>
                </div>
              </div>
              <div class="mobile-fl mb-16s">
                <span class="fw-6">Email:</span>
                <a href="" class="mobile-text mobile-link">
                  bephoangduyphat@gmail.com
                </a>
              </div>
              <div class="mobile-fl mb-16s">
                <span class="fw-6">Địa chỉ:</span>
                <a href="" class="mobile-text mobile-link">
                  77 đường số 1, Cityland Center Hill, P. 7, Q. Gò Vấp, TP. Hồ
                  Chí Minh
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="mobile-mxh">
          <a href="" class="mobile-mxh-link">
            <img src="./assets/images/ic-fb.png" alt="" />
          </a>
          <a href="" class="mobile-mxh-link">
            <img src="./assets/images/ic-yt.png" alt="" />
          </a>
          <a href="" class="mobile-mxh-link">
            <img src="./assets/images/ic-ins.png" alt="" />
          </a>
          <a href="" class="mobile-mxh-link">
            <img src="./assets/images/ic-tiktok.png" alt="" />
          </a>
          <a href="" class="mobile-mxh-link">
            <img src="./assets/images/ic-zalo.png" alt="" />
          </a>
        </div>
      </div>
    </header>
    <main class="main">
      <div class="post-outstanding">
        <h3 class="post-outstanding--title">Bài Viết Nổi Bật</h3>
      </div>
      <div class="post-outstanding--slider">
        <div class="swiper mySwiper">
          <div class="swiper-wrapper ">
            <div class="swiper-slide">
              <div class="post-outstanding--image">
                <img src="./assets/images/Rectangle561.png" />
                <div class="post-outstanding--content">
                  Chúng ta vẫn biết rằng, làm việc với một đoạn văn bản dễ đọc
                  và rõ nghĩa dễ gây rối trí và cản trở việc tập trung
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="post-outstanding--image">
                <img src="./assets/images/Rectangle561.png" />
                <div class="post-outstanding--content">
                  Chúng ta vẫn biết rằng, làm việc với một đoạn văn bản dễ đọc
                  và rõ nghĩa dễ gây rối trí và cản trở việc tập trung
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="post-outstanding--image">
                <img src="./assets/images/Rectangle561.png" />
                <div class="post-outstanding--content">
                  Chúng ta vẫn biết rằng, làm việc với một đoạn văn bản dễ đọc
                  và rõ nghĩa dễ gây rối trí và cản trở việc tập trung
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-button-next outstanding--next"></div>
          <div class="swiper-button-prev  outstanding--prev"></div>
        </div>
      </div>
    </main>
    <div class="popup" data-popup-id="search">
      <div class="popup-overlay"></div>
      <div class="popup-main popup-search-box">
        <div class="popup-over">
          <div class="popup-wrapper">
            <div class="popup-search">
              <form action="">
                <div class="popup-search-input">
                  <input type="text" placeholder="Nhập từ khóa..." />
                  <button class="btn-pri">
                    <span class="txt">Tìm kiếm</span>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="popup-close">
          <i class="fas fa-times icon"></i>
        </div>
      </div>
    </div>
    <div class="back-to-top backToTop">
      <div class="triangle">
        <div class="triangle-inner"></div>
      </div>
    </div>
  </body>
</html>
<script src="./js/library/jquery/jquery.js"></script>
<script src="./js/library/swiper/swiper-bundle.min.js"></script>
<script src="./js/library/aos/aos.js"></script>
<script src="./js/library/select2/select2.min.js"></script>
<script src="./js/library/magnific/jquery.magnific-popup.min.js"></script>
<script src="./js/library/gallery/lightgallery-all.min.js"></script>
<script src="./js/library/jquery/jquery-migrate.js"></script>
<script src="./js/library/split/splitting.min.js"></script>
<script src="./js/library/ukiyo/ukiyo.min.js"></script>
<script src="./js/library/smoothscroll/SmoothScroll.min.js"></script>
<script src="./js/main.js" type="module"></script>
