.home {
    &-slide {
        &-container {
            width: var(--recont);
            margin-left: auto;
            @include flex;
            flex-wrap: wrap;
        }

        &-left {
            width: 60%;
            margin-right: 0.8rem;

            @include max(600px) {
                width: 100%;
            }

            .inner {
                height: 100%;
            }
        }

        &-right {
            width: calc(40% - 0.8rem);

            @include max(600px) {
                width: 100%;
            }

            .inner {
                @include flex;
                flex-wrap: wrap;
                gap: 0.8rem;
            }
        }

        &-big {
            position: relative;
            height: 100%;

            &-main {
                position: relative;
                height: 100%;

                .swiper {
                    height: 100%;

                    &-slide {
                        .img {
                            @include imgPd(600, 874);

                            img {
                                @include imgCover
                            }
                        }
                    }
                }
            }

            &-thumb {
                padding: 0 2.4rem;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                background-color: $color-white;
                z-index: 2;

                .swiper {
                    &-slide {
                        cursor: pointer;
                        @include flex;
                        justify-content: center;

                        .inner {
                            @include flex;
                            flex-direction: column;
                            font-size: 1.4rem;
                            padding: 1rem 0;
                            position: relative;

                            @include max(1200px) {
                                font-size: 1.2rem;
                            }

                            &::after {
                                content: '';
                                width: 0%;
                                height: 0.2rem;
                                background-color: $color-pri;
                                position: absolute;
                                top: 0;
                                left: 50%;
                                transform: translateX(-50%);
                                transition: 0.4s;
                            }

                            .text {
                                font-weight: 700;
                            }

                            .val {}
                        }

                        &-thumb {
                            &-active {
                                .inner {
                                    &::after {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &-sm {
            width: 100%;

            @include max(600px) {
                @include gap(0.8rem, 2)
            }

            .swiper {
                &-slide {
                    .img {
                        @include imgPd(296, 538);

                        img {
                            @include imgCover;
                        }
                    }
                }
            }

            position: relative;

            &-pagi {
                position: absolute;
                bottom: 2;
                width: 100%;
                left: 50% !important;
                transform: translateX(-50%);
                @include flex;
                justify-content: center;
                z-index: 2;

                .swiper-pagination-bullet {
                    width: 1.2rem;
                    height: 0.3rem;
                    background-color: $color-white;
                    border-radius: 1rem;
                    opacity: 1;

                    &::before,
                    &::after {
                        display: none;
                    }

                    &-active {
                        width: 2.4rem;
                        background-color: $color-pri;
                    }
                }
            }
        }
    }

    &-hero {
        background-color: $color-pri;
        padding: 4.8rem 0;
        position: relative;
        overflow: hidden;

        &::after {
            content: '';
            width: calc(100vw*(348/1728));
            height: calc(100vw*(348/1728));
            border-radius: 100rem;
            position: absolute;
            left: 2%;
            top: 50%;
            background: $linear;
            opacity: 0.3;
        }

        &::before {
            content: '';
            width: calc(100vw*(198/1728));
            height: calc(100vw*(198/1728));
            border-radius: 100rem;
            position: absolute;
            right: 2%;
            bottom: 50%;
            background: $linear;
            opacity: 0.3;
        }

        &-wr {
            @include flex;
            flex-direction: column;
            align-items: center;
            width: 80%;
            margin: auto;
            position: relative;
            z-index: 2;

            @include max(800px) {
                width: 100%;
            }

            .text {
                text-align: center;
                @include fz-32;
                font-weight: 700;
                color: $color-white;
                margin-bottom: 1rem;
            }

            .desc {
                text-align: center;
                color: $color-white;
                width: 80%;

                @include max(500px) {
                    width: 100%;
                }
            }
        }
    }

    &-ser {
        padding: 8rem 0;

        &-it {
            width: 25%;

            @include max(790px) {
                width: 50%;
            }

            .inner {
                @include flex;

                @include max(1200px) {
                    flex-direction: column;
                    align-items: center;
                }

                .icon {
                    width: 4rem;
                    height: 4rem;
                    margin-right: 0.8rem;
                    margin-top: 0.2rem;

                    img {
                        width: inherit;
                        height: inherit;
                    }
                }

                .text {
                    @include flex;
                    flex-direction: column;

                    &-name {
                        font-weight: 700;

                        @include max(1200px) {
                            text-align: center;
                        }

                        @include max(400px) {
                            font-size: 1.4rem;
                        }

                        @include max(360px) {
                            font-size: 1.2rem;
                        }
                    }

                    &-val {
                        font-size: 1.4rem;

                        @include max(1200px) {
                            text-align: center;
                        }

                        @include max(400px) {
                            font-size: 1.4rem;
                        }

                        @include max(360px) {
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
    }

    &-brand {
        &-slide {

            .swiper {
                padding: 1rem 0
            }

            &-it {
                @include imgPd(91, 180);
                background-color: $color-white;
                box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.10);
                border-radius: 0.8rem;
                transition: 0.4s;
                border: 0.1rem solid transparent;

                @include hover {
                    border-color: $color-pri
                }

                img {
                    @include imgContain;
                    width: 80%;
                }
            }
        }
    }

    &-cer {
        &-slide {
            &-it {
                cursor: pointer;

                .inner {
                    @include imgPd(288, 384);
                    border-radius: 0.8rem;

                    img {
                        @include imgCover;
                    }
                }
            }
        }
    }

    &-deal {
        &-top {
            height: 6.7rem;
            @include flex;

            @include max(500px) {
                flex-direction: column;
                height: auto;
            }
        }

        &-gold {
            height: 100%;
            flex-shrink: 0;
            @include flex;
            position: relative;

            @include max(500px) {
                height: 4rem;
            }

            .txt {
                position: relative;
                color: $color-white;
                @include fz-32;
                font-weight: 600;
                display: block;
                background-color: #F9351E;
                padding-left: 6rem;
                height: 100%;
                @include flex;
                align-items: center;
                z-index: 2;

                @include max(1200px) {
                    padding-left: 1.5rem;
                    @include fz-24;
                }

                &::after {
                    content: '';
                    background-image: url("../assets/images/deal.png");
                    @include default-background;
                    width: 3.2rem;
                    height: 3rem;
                    position: absolute;
                    left: 100%;
                    top: 0.5rem;

                    @include max(500px) {
                        width: 2rem;
                        height: 2rem;
                    }
                }
            }

            .triangle {
                width: 8.7rem;
                height: 6.7rem;
                clip-path: polygon(4rem 0, 100% 100%, 0 100%, 0 0);
                display: block;
                background-color: #F9351E;
                margin-left: -0.2rem;

                @include max(500px) {
                    height: 4rem;
                    width: 7rem;
                }
            }
        }

        &-btn {
            flex: 1;
            overflow: hidden;

            @include max(500px) {
                width: 100%;
                padding: 1rem 1.5rem;
                background: $linear;
            }

            .swiper {
                width: 100%;
            }

            &-it {
                width: 100%;
                cursor: pointer;

                .sub {
                    @include fz-14;
                    font-weight: 700;

                    @include max(500px) {
                        color: $color-white
                    }
                }

                .time {
                    @include fz-20;
                    font-weight: 700;
                    color: black;

                    @include max(500px) {
                        color: $color-white
                    }
                }

                &.active {
                    .sub {
                        position: relative;

                        &::after {
                            content: '';
                            width: 1.6rem;
                            height: 1.6rem;
                            background-image: url("../assets/images/flash.png");
                            @include default-background;
                            position: absolute;
                            left: 100%;
                            top: 0;
                        }
                    }

                    .time {
                        color: $color-pri;

                        @include max(500px) {
                            color: yellow
                        }
                    }
                }
            }
        }

        &-bottom {
            background: $linear;
            position: relative;
            overflow: hidden;

            .tabPanel {
                width: 100%;
            }

            &-hd {
                @include flex;
                align-items: center;
                margin-bottom: 2rem;
            }

            .countdown {
                @include flex;
                gap: 1rem;

                &-it {
                    width: 3.2rem;
                    height: 3.2rem;
                    @include mid-flex;
                    background-color: $color-black;
                    border-radius: 0.4rem;
                    color: $color-white;
                    font-weight: 700;
                    position: relative;

                    &::after {
                        content: ':';
                        font-weight: 700;
                        color: $color-white;
                        position: absolute;
                        right: -0.7rem;
                        display: block;
                        top: 50%;
                        transform: translateY(-50%);
                    }

                    &:first-child {
                        display: none;
                    }

                    &:last-child {
                        &::after {
                            display: none;
                        }
                    }
                }
            }

            .ctrl {
                margin-left: auto;

                &-prev,
                &-next {
                    width: 3.2rem;
                    height: 3.2rem;
                    background-color: $color-white;

                    i {
                        color: $color-pri;
                    }
                }
            }
        }

        &-slide {
            padding: 2.4rem 6rem 6rem 6rem;

            @include max(1200px) {
                padding: 2.4rem 1.5rem 2.4rem 1.5rem;
            }

            .swiper {
                background-color: $color-white;
                border-radius: 0.4rem;

                &-slide {
                    height: auto !important;
                }
            }

            &-it {
                height: 100%;

                .inner {
                    height: 100%;
                    @include flex;
                    flex-direction: column;
                    padding: 1.6rem;

                    .img {
                        margin-bottom: 1rem;

                        &-inner {
                            @include imgPd(1, 1);
                            border: 0.1rem solid transparent;
                            transition: 0.4s;

                            @include hover {
                                border-color: $color-pri
                            }

                            img {
                                @include imgContain;
                            }
                        }
                    }

                    .info {
                        @include flex;
                        flex-direction: column;
                        height: 100%;

                        &-tt {
                            color: $color-text;
                            transition: 0.4s;
                            font-weight: 700;
                            @include lc(2);

                            @include hover {
                                color: $color-pri;
                            }
                        }

                        &-prc {
                            @include flex;
                            flex-direction: column;
                            margin-top: auto;

                            &-new {
                                color: $color-pri;
                                font-weight: 700;
                            }

                            &-old {
                                font-size: 1.4rem;
                                position: relative;
                                @include flex;
                                text-decoration: line-through;
                                width: fit-content;

                                &::after {
                                    content: attr(data-dis);
                                    @include mid-flex;
                                    padding: 0.2rem 0.5rem;
                                    border-radius: 0.4rem;
                                    font-size: 1rem;
                                    background-color: $color-pri;
                                    width: fit-content;
                                    color: $color-white;
                                    position: absolute;
                                    left: calc(100% + 1rem);
                                    top: 0;
                                }
                            }
                        }

                        .shock {
                            @include flex;
                            align-items: center;
                            background: $linear;
                            border-radius: 100rem;
                            width: fit-content;
                            padding: 0.2rem;
                            padding-right: 1rem;
                            margin-top: 1rem;

                            .icon {
                                width: 2rem;
                                height: 2rem;
                                margin-right: 0.8rem;

                                img {
                                    width: inherit;
                                    height: inherit;
                                }
                            }

                            .txt {
                                font-size: 1.4rem;
                                color: $color-white;
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
        }
    }

    &-box {
        padding: 6.4rem 0;

        @include max($res-mobile) {
            padding: 4rem 0;
        }

        &.red {
            background-color: $color-pri;
        }

        &.black {
            background-color: #242424;
        }

        &.orange {
            background-color: #FF5001;
        }

        &-tt {
            @include fz-32;
            font-weight: 700;
            color: $color-white;
            text-align: center;
            margin-bottom: 2rem;
        }

        &-it {
            width: calc(100% / 3);

            @include max(800px) {
                width: 50%;
            }

            .inner {
                position: relative;

                .img {
                    position: relative;

                    &::after {
                        content: '';
                        @include full;
                        position: absolute;
                        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 69.87%, rgba(0, 0, 0, 0.50) 100%);
                        pointer-events: none;
                        border-radius: 0.8rem
                    }

                    &::before {
                        content: '';
                        @include full;
                        position: absolute;
                        pointer-events: none;
                        border-radius: 0.8rem;
                        background: rgba(0, 0, 0, 0.3);
                        z-index: 1;
                        transition: 0.4s;
                        opacity: 0;
                    }

                    &-inner {
                        @include imgPd(250, 384);
                        border-radius: 0.8rem;

                        img {
                            @include imgCover;
                        }
                    }

                    @include hover {
                        &::before {
                            opacity: 1;
                        }
                    }

                    @include non-hover {
                        &::before {
                            opacity: 1;
                        }
                    }
                }

                .info {
                    position: absolute;
                    padding: 2rem;
                    bottom: 0;
                    left: 0;
                    z-index: 2;

                    @include max(800px) {
                        padding: 1rem;
                    }

                    &-tt {
                        @include lc(2);
                        @include fz-20;
                        color: $color-white;
                        transition: 0.4s;

                        @include max(600px) {
                            font-size: 1.6rem;
                        }

                        @include max(450px) {
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }
    }

    &-grid {
        &-slide {
            .swiper {
                &-wrapper {
                    flex-direction: row;
                }

                &-slide {
                    height: auto !important;
                    margin-top: 0 !important;
                    margin-bottom: 2.4rem;

                    @include max(800px) {
                        margin-bottom: 1.6rem;
                    }

                    @include max(500px) {
                        margin-bottom: 0.8rem;
                    }

                    .home-deal-slide-it {
                        transition: 0.4s;
                        border-radius: 0.8rem;

                        @include hover {
                            box-shadow: $shadow;
                        }

                        @include non-hover {
                            box-shadow: $shadow;
                        }
                    }
                }
            }
        }
    }

    &-video {
        &-wr {}

        &-left {
            width: calc(8/12*100%);
            @include flex;
            flex-direction: column;

            @include max(850px) {
                width: 100%;
                margin-bottom: 2rem;
            }

            &-top {
                @include flex;
                justify-content: space-between;
                margin-bottom: 1rem;

                .tt {
                    @include fz-32;
                    font-weight: 700;
                    color: $color-text;

                    @include max(1230px) {
                        @include fz-24;
                    }
                }

                .link {
                    @include flex;
                    align-items: center;

                    @include hover {
                        .txt {
                            color: $color-pri;
                        }
                    }

                    .txt {
                        color: $color-text;
                        transition: 0.4s;
                        font-weight: 600;
                    }

                    .icon {
                        width: 1.4rem;
                        height: 1.4rem;
                        margin-left: 0.8rem;

                        img {
                            width: inherit;
                            height: inherit;
                        }
                    }
                }
            }

            .swiper {
                border-radius: 0.8rem;
                height: 100%;

                &-slide {
                    height: auto !important;
                    transition: 0.4s;
                }
            }
        }

        &-it {
            position: relative;
            height: 100%;

            .play-btn {
                position: absolute;
                @include mid;
                width: 4.4rem;
                height: 4.4rem;
                z-index: 2;

                img {
                    width: inherit;
                    height: inherit;
                }
            }

            .img {
                @include imgPd(441, 784);
                height: 100%;
                min-height: 30rem;

                &::after {
                    content: '';
                    position: absolute;
                    @include full;
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);
                    pointer-events: none
                }

                img {
                    @include imgCover;
                }
            }

            .info {
                padding: 2rem;
                position: absolute;
                left: 0;
                bottom: 0;

                @include max(800px) {
                    padding: 1rem;
                }

                &-tt {
                    color: $color-white;
                    transition: 0.4s;
                    @include lc(2);
                    @include fz-20;

                    @include max(800px) {
                        font-size: 1.6rem;
                    }
                }
            }
        }

        &-slide {
            position: relative;
            height: 100%;

            .ctrl {
                &-prev {
                    left: 1rem !important;
                }

                &-next {
                    right: 1rem !important;
                }
            }
        }

        &-right {
            width: calc(4/12*100%);

            @include max(850px) {
                width: 100%;
            }

            &-slide {
                height: 45rem !important;
                overflow: hidden;

                @include max(850px) {
                    height: auto !important;
                }

                .swiper {
                    height: 30rem !important;
                    overflow: visible;

                    @include max(850px) {
                        height: auto !important;
                    }

                    &-wrapper {}

                    &-slide {
                        height: auto !important;
                        transition: 0.4s;
                        opacity: 0.5;

                        @include max(850px) {
                            opacity: 1;
                        }

                        &-active {
                            opacity: 1;
                        }
                    }
                }
            }

            &-it {
                .img {
                    &-inner {
                        @include imgPd(289, 385);
                        border-radius: 0.8rem;

                        img {
                            @include imgCover;
                        }
                    }
                }
            }
        }
    }

    &-news {
        .link {
            @include flex;
            align-items: center;
            margin-top: 2rem;
            margin-top: auto;

            @include hover {
                .txt {
                    color: $color-pri;
                }
            }

            .txt {
                color: $color-text;
                transition: 0.4s;
                font-weight: 600;
            }

            .icon {
                width: 1.4rem;
                height: 1.4rem;
                margin-left: 0.8rem;

                img {
                    width: inherit;
                    height: inherit;
                }
            }
        }

        .pagi {
            bottom: 2;
            margin: auto;
            margin-top: 2rem;
            width: fit-content;
            @include flex;
            justify-content: center;
            z-index: 2;

            .swiper-pagination-bullet {
                width: 1.2rem;
                height: 0.3rem;
                background-color: #4B4B4B;
                border-radius: 1rem;
                opacity: 0.3;

                &::before,
                &::after {
                    display: none;
                }

                &-active {
                    width: 2.4rem;
                    background-color: $color-pri;
                    opacity: 1;
                }
            }
        }

        &-wr {}

        &-left {
            width: calc(8/12*100%);

            @include max(800px) {
                width: 50%;
            }

            @include max(550px) {
                width: 100%;
                margin-bottom: 2rem;
            }

            @include flex;
            flex-direction: column;

            &-slide {
                position: relative;

                .swiper {}
            }

            &-it {
                .inner {
                    .img {
                        &-inner {
                            @include imgPd(287, 384);
                            border-radius: 0.8rem;

                            img {
                                @include imgCover;
                            }
                        }
                    }

                    .info {
                        &-tt {
                            color: $color-text;
                            transition: 0.4s;
                            @include lc(2);
                            font-weight: 700;
                            margin-top: 1rem;

                            @include hover {
                                color: $color-pri;
                            }
                        }
                    }
                }
            }
        }

        &-right {
            width: calc(4/12*100%);

            @include max(800px) {
                width: 50%;
            }

            @include max(550px) {
                width: 100%;
            }

            &-slide {
                margin-bottom: 2rem;
            }

            .swiper {
                height: 37rem;

                @include max(850px) {
                    height: 30rem;
                }

                @include max(550px) {
                    height: auto;
                }

                &-slide {
                    height: auto !important;
                    border-bottom: 0.1rem solid $color-border;
                    padding-bottom: 1rem;
                    padding-top: 1rem;

                    &:first-child {
                        padding-top: 0;
                    }

                    &:last-child {
                        border-bottom: 0;
                        padding-bottom: 0;
                    }

                    @include max(550px) {
                        padding: 0;
                        border: none;
                    }
                }
            }

            &-it {
                .tt {
                    font-weight: 700;
                    color: $color-text;
                    transition: 0.4s;
                    @include lc(2);

                    @include hover {
                        color: $color-pri;
                    }
                }

                .desc {
                    @include lc(2);
                }
            }

            .pagi {
                @include min(551px) {
                    display: none;
                }
            }
        }
    }
}

.fixed-link {
    position: fixed;
    top: 50%;
    transform: translateY(-50%) translateX(-100%);
    left: 0;
    z-index: 20;
    transition: 0.4s;
    opacity: 0;
    background-color: $color-white;
    padding: 2rem 0;
    padding-right: 2rem;
    border-radius:0 0.8rem 0.8rem 0;
    box-shadow: $shadow;
    
    &.active {
        transform: translateY(-50%) translateX(0%);
        opacity: 1;
    }

    &-it {
        @include flex;
        align-items: center;
        font-weight: 700;
        font-size: 1.4rem;
        color: #4B4B4B;
        opacity: 0.2;
        transition: 0.4s;
        @include max(600px) {
            font-size: 1rem;
        }
        &.active {
            opacity: 1;

            &::before {
                background-color: $color-pri;
            }
        }

        &::before {
            content: '';
            width: 2.4rem;
            height: 0.1rem;
            background: #4B4B4B;
            flex-shrink: 0;
            display: block;
            margin-right: 1rem;
            @include max(600px) {
                width: 1rem;
            }
        }
    }
}